*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.Landing{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 40px;
    padding: 0 15%;
    color: white;
}

.cartItem {
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 7.5px 15px;

    .title{
        width: calc((100% / 12) * 4);
    }
}


.icon{
    width: 100%;
}
.Landing {
   width: 100%;
   height: 100vh;
   background-image: url('../assets/wallpaper.jpg');
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
}

.cardProduct{
    background-color: darkcyan !important;
    border-radius: 0 !important;
}

.mainID{
    width: 10% !important;
    background: darkblue;
}

.mainTitle, .mainDescription{
    min-width: 475px !important;
    max-width: 475px !important;
    background: darkorchid ;
}

.mainPrice{
    background: pink;
    text-align: center !important;
    display: flex  !important;
    justify-content: space-between !important;
}

.mainPrice > div{
    min-width: 60px !important;
    max-width: 60px !important;
    display: flex !important;
    justify-content: center !important;
    text-align: center !important;
}

.mainDelete, .mainEdit{
    min-width: 130px !important;
    max-width: 130px !important;
    display: flex !important;
    justify-content: center !important;
}
.mainEdit {
    justify-content: flex-start !important;
}